/* click me page */
.clickmepage {
  background-color: black;
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.envelope-container {
  position: relative;
  width: 45vw;
  display: block;
  white-space: nowrap;
  animation: subtleBounce 4s infinite ease-in-out;
}

@keyframes subtleBounce {
    0%, 100% { transform: translateY(0);}
    50% { transform: translateY(-8px);}
}

#envelope {
  width: 100%;
  display: block;
  filter: drop-shadow(0 0 20px rgba(255,255,255,0.6));
}

.click-link {
  position: absolute;
  bottom: -3.7%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Ballet", cursive;
  font-size: 5vw;
  color: black;
  text-decoration: none;
}

/* welcome page */
.welcomepage {
  background-color: #540000;
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.paper-container {
  position: relative;
  width: 60vw;
  display: block;
  white-space: nowrap;
  
  animation: 
    slideInPaper 2s ease-out forwards,
    subtleBounce 4.5s infinite ease-in-out;
  
  animation-delay: 0s, 2s;
}

@keyframes slideInPaper {
  0% { 
    transform: translateX(-50vw);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; }
}

#paper {
  width: 100%;
  display: block;
}

.blurb1 {
  position: absolute;
  top: 30%;
  left: 47%;
  transform: translateX(-50%);
  font-family: "Ballet", cursive;
  font-size: 5vw;
  color: #540000;
}

.blurb2 {
  position: absolute;
  top: 45%;
  left: 53%;
  transform: translateX(-50%);
  font-family: "Ballet", cursive;
  font-size: 5vw;
  color: #540000;
}

/* fav page */
#homebutton {
  position: fixed;
  top: 5%;
  left: 90%;
}

#homebutton img {
  width: 8vw;
  cursor: pointer;
  filter: drop-shadow(0 0 17px rgba(255,255,255,0.6));
}

.favpage {  
  background-image: url(images/brownbackground.png);
  background-size: cover; /*image adapts to screen size change/doesn't get cut off*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  
  width: 100vw;
  height: 100vh; /*100% of the viewport*/
  
  position: fixed;
  bottom: 0px;
  left: 0px;
  margin: 0;
  overflow: hidden;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.favcontainer {
  position: relative;
  width: 60vw;
  display: block;
  white-space: nowrap;
  
  animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#tin {
  width: 100%;
  display: block;
}

#bubblewrap {
  position: absolute;
  bottom: 62%;
  left: 30%;
  width: 25vw;
  cursor: pointer;
}

#bubblewrapBlurb {
  display: none; /* start hidden */
  position: absolute;
  bottom: 53%;
  left: 75%;
  width: 20vw;

  background: rgba(255,255,255,0.7);
  border-radius: 8px;
  
  white-space: normal;
  overflow-wrap: break-word;
}

#running {
  position: absolute;
  bottom: 60%;
  left: 34%;
  width: 7vw;
  cursor: pointer;
  transform: rotate(-16deg);
}

#runningBlurb {
  display: none; /* start hidden */
  position: absolute;
  bottom: 85%;
  right: 78%;
  width: 20vw;

  background: rgba(255,255,255,0.7);
  border-radius: 8px;
  
  white-space: normal;
  overflow-wrap: break-word;
}

#mat {
  position: absolute;
  bottom: 57%;
  left: 41%;
  width: 13vw;
  cursor: pointer;
}

#matBlurb {
  display: none; /* start hidden */
  position: absolute;
  bottom: 95%;
  left: 60%;
  width: 20vw;

  background: rgba(255,255,255,0.7);
  border-radius: 8px;
  
  white-space: normal;
  overflow-wrap: break-word;
}

#beli {
  position: absolute;
  bottom: 72%;
  right: 38%;
  width: 5vw;
  cursor: pointer;
}

#beliBlurb {
  display: none; /* start hidden */
  position: absolute;
  bottom: 75%;
  left: 70%;
  width: 20vw;

  background: rgba(255,255,255,0.7);
  border-radius: 8px;
  
  white-space: normal;
  overflow-wrap: break-word;
}

#pen {
  position: absolute;
  bottom: 60%;
  right: 51%;
  width: 1.3vw;
  transform: rotate(47deg);
  cursor: pointer;
}

#penBlurb {
  display: none; /* start hidden */
  position: absolute;
  bottom: 100%;
  right: 42%;
  width: 20vw;

  background: rgba(255,255,255,0.7);
  border-radius: 8px;
  
  white-space: normal;
  overflow-wrap: break-word;
}

#smoothie {
  position: absolute;
  bottom: 52%;
  right: 61%;
  width: 3vw;
  transform: rotate(-29deg);
  cursor: pointer;
}

#smoothieBlurb {
  display: none; /* start hidden */
  position: absolute;
  bottom: 65%;
  right: 82%;
  width: 20vw;

  background: rgba(255,255,255,0.7);
  border-radius: 8px;
  
  white-space: normal;
  overflow-wrap: break-word;
}

#washytape {
  position: absolute;
  bottom: 33%;
  right: 35%;
  width: 14vw;
  transform: rotate(-10deg);
  cursor: pointer;
}

#washytapeBlurb {
  display: none; /* start hidden */
  position: absolute;
  top: 95%;
  left: 70%;
  width: 20vw;

  background: rgba(255,255,255,0.7);
  border-radius: 8px;
  
  white-space: normal;
  overflow-wrap: break-word;
}

#earbuds {
  position: absolute;
  bottom: 14%;
  right: 42%;
  width: 13vw;
  transform: rotate(-18deg);
  cursor: pointer;
}

#earbudsBlurb {
  display: none; /* start hidden */
  position: absolute;
  top: 93%;
  right: 75%;
  width: 20vw;

  background: rgba(255,255,255,0.7);
  border-radius: 8px;
  
  white-space: normal;
  overflow-wrap: break-word;
}

#yogurt {
  position: absolute;
  bottom: 16%;
  right: 32%;
  width: 8vw;
  transform: rotate(-10deg);
  cursor: pointer;
}

#yogurtBlurb {
  display: none; /* start hidden */
  position: absolute;
  top: 97%;
  left: 30%;
  width: 20vw;

  background: rgba(255,255,255,0.7);
  border-radius: 8px;
  
  white-space: normal;
  overflow-wrap: break-word;
}

#eadem {
  position: absolute;
  bottom: 35%;
  right: 37%;
  width: 19vw;
  transform: rotate(-3deg);
  cursor: pointer;
}

#eademBlurb {
  display: none; /* start hidden */
  position: absolute;
  top: 42%;
  right: 70%;
  width: 20vw;

  background: rgba(255,255,255,0.7);
  border-radius: 8px;
  
  white-space: normal;
  overflow-wrap: break-word;
}

#goldstar {
  position: absolute;
  bottom: 9%;
  right: 60%;
  width: 9vw;
  cursor: pointer;
}

#goldstarBlurb {
  display: none; /* start hidden */
  position: absolute;
  top: 65%;
  right: 80%;
  width: 20vw;

  background: rgba(255,255,255,0.7);
  border-radius: 8px;
  
  white-space: normal;
  overflow-wrap: break-word;
}

#denimstar {
  position: absolute;
  bottom: 45%;
  right: 27%;
  width: 7vw;
  cursor: pointer;
}

#denimstarBlurb {
  display: none; /* start hidden */
  position: absolute;
  bottom: 28%;
  left: 79%;
  width: 20vw;

  background: rgba(255,255,255,0.7);
  border-radius: 8px;
  
  white-space: normal;
  overflow-wrap: break-word;
}
.titleBubble, 
.titleRunning,
.titleMat,
.titleBeli,
.titlePen,
.titleSmoothie,
.titleWashytape,
.titleEarbuds,
.titleYogurt,
.titleEadem,
.titleGoldstar,
.titleDenimstar {
  margin: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: lowercase;
  color: black;
}

.textBubble, 
.textRunning,
.textMat,
.textBeli,
.textPen,
.textSmoothie,
.textWashytape,
.textEarbuds,
.textYogurt,
.textEadem,
.textGoldstar,
.textDenimstar {
  margin: 13px;
  font-family: "Roboto", sans-serif;
  text-transform: lowercase;
  color: black;
}
  
#closeBubble, 
#closeRunning,
#closeMat,
#closeBeli,
#closePen,
#closeSmoothie,
#closeWashytape,
#closeEarbuds,
#closeYogurt,
#closeEadem,
#closeGoldstar,
#closeDenimstar {
  color: gray;
  float: right;
  padding: 10px;
  user-select: none;
  cursor: pointer;
}

.my {
  position: absolute;
  bottom: 65%;
  left: 25%;
  transform: translateX(-50%);
  font-family: "Ballet", cursive;
  font-size: 6vw;
  color: white;
}

.favorites {
  position: absolute;
  top: 70%;
  left: 74%;
  transform: translateX(-50%);
  font-family: "Ballet", cursive;
  font-size: 6vw;
  color: white;
}